@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* Used by Header.tsx */
.text-shadow-sm {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

